// @import "reset";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800;900&family=Caudex:wght@400;700&family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import "libs";
@import "mixins";
@import "vars";
@import "global";

.content {
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 98px 1fr;
    height: 100vh;
    @include r(968) {
        grid-template-columns: 60px 1fr;
    }
}

.sidebar {
    border-right: 1px solid #505050;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__btn-box {
        position: relative;
        width: 100%;
        height: 98px;
        background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
        @include r(968) {
            height: 60px;
        }
    }

    &__btn {
        position: absolute;
        top: 35px;
        left: 40px;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;
        @include r(968) {
            top: 17px;
            left: 18px;
            width: 25px;
            height: 25px;
        }

        .line {
            background-color: #fff;
            width: 100%;
            height: 4px;
            border-radius: 6px;

            &.half {
                width: 50%;
            }

            &.start {
                transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                transform-origin: right;
            }

            &.end {
                align-self: flex-end;
                transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                transform-origin: left;
            }
        }

        &.open {
            transform: rotate(-45deg);

            .line {
                &.start {
                    transform: rotate(-90deg) translateX(3px);
                }

                &.end {
                    transform: rotate(-90deg) translateX(-3px);
                }
            }
        }
    }
}

.social {
    &__link {
        display: block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 60px;
        opacity: 1;
        transition: opacity 0.2s;

        &--fb {
            background-image: url("../images/icons/fb.svg");
        }

        &--inst {
            background-image: url("../images/icons/inst.svg");
        }

        &--tvit {
            background-image: url("../images/icons/tvit.svg");
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

.header {
    padding: 50px 70px 0 60px;
    grid-column: 2/3;
    grid-row: 1/2;
    @include r(968) {
        padding: 18px 0 0 15px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        @include r(968) {
            display: none;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 70px;
        }
    }

    &__link {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            max-width: 22px;
            height: 2px;
            background-color: #fff;
            bottom: -5px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &--active {
            font-weight: 800;

            &::after {
                max-width: 22px;
                width: 100%;
                opacity: 1;
            }
        }

        &:hover::after {
            max-width: 22px;
            width: 100%;
            opacity: 1;
        }

        &--wallet {
            display: block;
            background-image: url("../images/sprite.svg#wallet");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 24px;
            height: 24px;
            filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(272deg) brightness(96%) contrast(100%);
        }
    }
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
}
.swiper-box {
    .swiper {
        height: calc(100vh - 98px);
        flex-direction: row-reverse;
        @include r(968) {
            height: 85vh;
        }
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical > .swiper-pagination-bullets {
        right: inherit;
        left: 60px;
        position: absolute;
        width: 203px;
        flex-basis: 203px;
        @include r(968) {
            left: 15px;
            width: 150px;
            flex-basis: 150px;
        }
    }
    .swiper-wrapper {
        position: inherit;
    }
    .swiper-pagination-bullet-active {
        background: transparent;
    }
    .swiper-pagination-bullet {
        background: transparent;
        width: inherit;
        text-align: left;
        height: inherit;
        font-size: 34px;
        font-weight: 800;
    }

    .swiper-slide {
        position: relative;
    }
    .swiper__body-img {
        position: absolute;
        width: 40%;
        left: 20%;
        bottom: -30px;
        z-index: -1;
        @include r(1340) {
            width: 40%;
            left: 14%;
        }
        @include r(968) {
            width: 55%;
            left: 0;
            opacity: 0.5;
        }
        @include r(760) {
            width: 70%;
            bottom: 42px;
        }
        @include r(460) {
            width: 95%;
        }
        @include r(320) {
            width: 100%;
        }
    }

    .swiper-pagination-bullet span {
        display: block;
    }
    .swiper-pagination-bullet span:first-child {
        font-weight: 600;
        font-size: 22px;
        @include r(968) {
            font-size: 18px;
        }
        @include r(460) {
            display: none;
        }
    }
    .swiper-pagination-bullet span:last-child {
        font-weight: 600;
        font-size: 17px;
        color: #bcbcbc;
        @include r(460) {
            display: none;
        }
    }

    .swiper-slide__footer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(
            270deg,
            rgba(66, 66, 66, 0.49) 20%,
            rgba(66, 66, 66, 0.4753) 80%,
            rgba(66, 66, 66, 0) 100%
        );
        backdrop-filter: blur(100px);
        @include r(968) {
            max-height: 180px;
            padding-top: 10px;
        }
        @include r(680) {
            padding: 25px 0 25px 15px;
        }
    }
    .swiper-slide__footer-info {
        padding-left: 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto 1fr;
        gap: 5%;
        flex-basis: calc(100% - 360px);
        @include r(1200) {
            padding-left: 15px;
            grid-template-columns: repeat(1fr);
            grid-template-rows: 30px 1fr;
            flex-basis: calc(100% - 250px);
        }
        @include r(968) {
            grid-template-rows: 15px 1fr;
            flex-basis: calc(100% - 240px);
            padding-bottom: 40px;
        }
    }
    .swiper-slide__footer-title {
        grid-column: 1/6;
        grid-row: 1/2;
        font-family: "Caudex", sans-serif;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.05em;
        @include r(968) {
            margin: 0;
            font-size: 16px;
        }
    }

    .swiper-slide__footer-item {
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        @include r(1200) {
            font-size: 12px;
        }
        @include r(680) {
            font-size: 11px;
            display: none;
        }
    }
    .swiper-slide__footer-item span {
        display: block;
        font-family: "Catamaran", sans-serif;
        font-weight: 500;
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #bcbcbc;
        @include r(1200) {
            font-size: 12px;
        }
        @include r(968) {
            font-size: 11px;
        }
    }
    .swiper-slide__footer-item-num {
        margin-top: 12px;
    }
    .swiper-slide__img {
        position: absolute;
        right: 0;
        top: 0;
        max-width: 225px;
        height: 100%;
    }

    .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 45px 0 45px 0;
        @include r(968) {
            margin: 5px 0 5px 0;
            font-size: 20px;
        }
    }

    .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical > .swiper-pagination-bullets {
        top: 285px;
        @include r(968) {
            top: 135px;
            left: 65%;
        }
        @include r(460) {
            top: 60px;
            left: 80%;
        }
    }

    .swiper__body {
        margin-left: 65%;
        padding-top: 5%;
        @include r(968) {
            font-size: 20px;
            margin-left: 15px;
        }
    }
    .swiper__body-title {
        padding: 0;
        margin: 0 0 30px 0;
        max-width: 360px;
        font-family: "Caudex", sans-serif;
        font-weight: 700;
        font-size: 46px;
        letter-spacing: 0.005em;
        @include r(1200) {
            font-size: 30px;
        }
        @include r(968) {
            max-width: 250px;
        }
        @include r(680) {
            font-size: 22px;
        }
        @include r(460) {
            font-size: 20px;
            max-width: 200px;
        }
    }

    .swiper__body-title span {
        position: relative;
    }
    .swiper__body-title span::before,
    .swiper__body-title span::after {
        content: "3D printed";
        position: absolute;
        display: block;
        width: 100%;
    }
    .swiper__body-title.get span::before,
    .swiper__body-title.get span::after {
        content: "10 000";
        position: absolute;
        display: block;
        width: 100%;
    }
    .swiper__body-title.twitter span::before,
    .swiper__body-title.twitter span::after {
        content: "Twitter";
        position: absolute;
        display: block;
        width: 100%;
    }
    .swiper__body-title span::before {
        top: 0;
        left: -2px;
        color: #fb258b;
        z-index: -1;
    }

    .swiper__body-title span::after {
        top: 2px;
        left: 3px;
        color: #5025fb;
        z-index: -1;
    }

    .swiper__body-text {
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
        max-width: 390px;
        font-size: 20px;
        letter-spacing: 0.065em;
        color: #bcbcbc;
        @include r(968) {
            font-size: 16px;
            max-width: 200px;
        }
    }

    .swiper__body-btn {
        position: relative;
        margin: 0;
        padding: 10px 26px;
        font-family: "Orbitron", sans-serif;
        font-weight: 700;
        font-size: 18px;
        transition: 0.2s;
        @include r(1200) {
            margin-bottom: 20px;
            display: block;
            width: 250px;
            margin-right: 15px;
        }
        @include r(968) {
            width: 150px;
        }

        &--buy {
            margin-right: 30px;
            background-color: #fff;
            color: #252525;
            box-shadow: 0 0 0 4px transparent;
            &:hover {
                box-shadow: 0 0 0 4px #fff;
            }
            &::after,
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                transition: 0.2s;
            }
            &:hover:after,
            &:hover:before {
                right: 0;
                top: 0;
                bottom: 0;
                left: 0;
            }
            &::after {
                background-color: #fb258b;
                left: -4px;
                top: -4px;
                z-index: -1;
            }
            &::before {
                background-color: #5025fb;
                right: -4px;
                bottom: -4px;
                z-index: -1;
            }
        }
        &--view {
            position: relative;
            padding: 12px 26px 10px 55px;
            border: 1px solid #fff;
            color: #fff;
            transition: 0.2s;
            @include r(1200) {
                padding: 12px 2px 10px 50px;
            }
            &:hover {
                background-color: #fff;
                color: #252525;
            }
            &::before {
                content: "";
                width: 24px;
                height: 24px;
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                background-image: url("../images/sprite.svg#eyes");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(272deg) brightness(96%) contrast(100%);
                transition: 0.2s;
            }
            &:hover::before {
                filter: invert(9%) sepia(36%) saturate(19%) hue-rotate(330deg) brightness(106%) contrast(88%);
            }
        }
    }

    .pagination-art {
        position: relative;
        margin-top: 10px;
        &::before {
            content: "";
            width: 203px;
            height: 1px;
            top: -8px;
            position: absolute;
            display: block;
            margin-bottom: 10px;
            background-image: url("../images/icons/line.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
